.secondPage__container {
    position: relative;
    width: 100vw;
    height: 100vh;

    video {
        position: absolute;
        width: 100%;
        height: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    .title {
        font-family: 'Montserrat', sans-serif;
        color: white;
        position: absolute;
        z-index: 1;
        width: 30%;
        left: 5%;
        top: 15%;
        font-size: calc(20px + 1vw);
        font-weight: 400;
        line-height: 1.1;
        text-shadow: 0 1px 2px #112993;

        a {
            text-decoration: none;
            font-size: calc(6px + 1vw);
            text-transform: capitalize;
            text-shadow: 0 1px 2px #112993;
            color: white;
            border-bottom: 2px solid rgba(255, 80, 111, 1);
            line-height: 2;
            display: inline-block;
            transition: all .3s;

            &:hover {
                border-bottom: 5px solid rgba(255, 80, 111, 1);
            }
        }

        mark {
            margin: 0 -0.4em;
            padding: 0.1em 0.4em;
            border-radius: 0.8em 0.3em;
            background: transparent;
            background-image: linear-gradient(to right,
                    rgba(255, 80, 111, 0.1),
                    rgba(255, 80, 111, 0.7) 4%,
                    rgba(255, 80, 111, 0.3));
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
        }
    }
}